// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.field_with_errors {
  display: inline;

  input[type="text"] {
    border: 3px solid red;
  }

  textarea[name="book[content]"] {
    border: 3px solid red;
  }

  label {
    color: red;
  }
}
